# Ignore everything
*

# Except the docs directory
!docs/
!docs/**

# And this file
!.gitignore

!labs/
!labs/**

!slides/
!slides/**

!_quarto.yml

# And the README
!README.md

/.quarto/
**/*.quarto_ipynb
